{% assign current = page.url | downcase | split: '/' %}

<nav class="nav-dark">
  <div class="logo">
    <h1><a href="/">DCG</a></h1>
    <h2>Lorem ipsum</h2>
  </div>
  <span class="btn btn-nav-open">=</span>
  <ul id="menu" role="menu" class="menu">

    <li {% if current[1] == 'features' %} class="active" {% endif %}><a href="/features" role="menuitem">Work</a></li>
    <li {% if current[1] == 'blog' %} class="active" {% endif %}><a href="/blog" role="menuitem">Blog</a></li>
    <li><a href="/#about" role="menuitem">About</a></li>
    <li><a href="#contact" role="menuitem">Contact</a></li>


  </ul>
  <div class="cf"></div>
</nav>