.bio {
  position: relative;
  background: {
    color: $col-neutral;
    image: url('../img/bio-bg.jpg');
    repeat: no-repeat;
    size: cover;
    position: center 80%;
  }
  color: white;
  @include transition(padding, 1s, ease);
  h2 {
    text-align: center;
    line-height: 8;
    font-family: $font-body;
    @media #{$medium-screen} {
      line-height: 6;
    }
  }
  p {
    display: none;
  }
}

.bio-long {
  padding: 8em 0;
  @media #{$large-screen} {
    padding: 15em 0;
    background-position: center 60%;
  }
  .bio-open {
    display: none;
  }
  p {
    display: block;
    margin: 0 auto;
  }
}

.bio-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2em;
  height: 2em;
  cursor: pointer;
}