.bio {
  position: relative;
  background: {
    color: $col-neutral;
    image: url('../../img/bio-bg.jpg');
    repeat: no-repeat;
    size: cover;
    position: center 80%;
  }
  color: white;
  @include transition(padding, 1s, ease);
  h2 {
    text-align: center;
    line-height: 8;
    font-family: $font-body;
    @include breakpoint(med-screen) {
      line-height: 6;
    }
  }
  p {
    display: none;
  }
}

.bio-long {
  padding: 8em 0;
  @include breakpoint(lrg-screen) {
    padding: 5.8em 0;
    background-position: center 60%;
  }
  .bio-open {
    display: none;
  }
  .btn-open {
    display: none;
  }
  p {
    display: block;
    margin: 0 auto;
  }
}