////// Fonts //////
$font-logo: 'Contrail One', cursive;
$font-header: 'BenchNine', sans-serif;
$font-body: 'Abel', sans-serif;

////// Colours //////
$col-main: #21a1bd;     /* blue */
$col-accent: #f7b322;   /* orange */
$col-neutral: #2b3234;  /* dark grey */
$col-light: #ebebeb;    /* light grey */

////// MQ's //////
$large-screen: "(min-width: 1200px)";
$medium-screen: "(max-width: 767px)";
$small-screen: "(max-width: 520px)";