.btn {
  background-image: url('../img/icon-set.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 48px;
  height: 48px;
  @include breakpoint(med-screen) {
    background-image: url('../img/icon-setx2.png');
    background-size: cover;
  }
}

.btn-close { 
  background-position: -6px -7px; 
  @include breakpoint(med-screen) {
    background-position: -6px -5px;
  } 
}
.btn-open { 
  background-position: -66px -7px;
  @include breakpoint(med-screen) {
    background-position: -48px -5px;
  } 
}
.btn-up { 
  display: block;
  margin: 3em auto;
  background-position: -126px -7px; 
  @include breakpoint(med-screen) {
    background-position: -96px -5px;
    margin: 1em auto;
  }  
}

.bio-btn {
  position: absolute;
  bottom: -26px;
  left: 0;
  right:0;
  margin: 0 auto;
  cursor: pointer;
}

.btn-nav-open {
  display: none;
  @include breakpoint(sml-screen) {
    display: block;
    float: right;
    line-height: 4;
  }
}