.nav-wrapper {
  height: 0px !important;
}

nav {
  overflow: hidden;
  height: 0px;
  padding: 0 3em;
  width: 100%;
  background-color: white;
  color: $col-accent;
  text-transform: uppercase;
  z-index: 1;
  @include transition(background-color, 0.1s, ease);
  font: {
    family: $font-header;
  }
  ul {
    float: right;
    line-height: 5;
    @media #{$small-screen} {
      line-height: 4;
    } 
  }
  li {
    display: inline;
    padding-right: 2em;
    padding-left: 1em;
    &.active {
      border-left: 4px solid $col-light;
    }
  }
  &.scrolled {
    display: block;
    position:fixed;
    height: auto;
    top:0;
    ul {
      @extend %animated;
      @include animation-name(fadeInDown);
      @include animation-duration(0.5s);
    }
  }
  &.nav-dark {
    background-color: $col-neutral;
  }
  @media #{$small-screen} {
    padding: 0 1em;
  } 
}