.work {
  background-color: white;
  min-height: 3em;
  padding: 12em 0;
  article:not(:last-child) {
    padding-bottom: 4em;
    @media #{$medium-screen} {
      padding-bottom: 6em;
    }
  }
  h3 {
    color: $col-neutral;
    padding-bottom: 1.5em;
    span {
      position: relative;
      color: $col-main;
      padding: 0 0.5em;
      display: inline-block;
      margin-left: 0.4em;
      &:before {
        position: absolute;
        content: '|';
        left: 0;
        color: $col-neutral;
      }
    }
  }
  img {
    width: 100%;
    margin-bottom: 2em;
    &.img-mobile {
      width: 80%;
      margin: 0 auto;
      display: block;
      max-width: 700px;
    }
  }
  a.btn-work {
    @extend h3;
    color: $col-accent;
    font-size: 1.2em;
    border: 4px solid $col-accent;
    text-align: center;
    padding: 0.3em 2em;
    text-decoration: none;
    float: right;
    &:hover {
      text-decoration: underline;
    }
    @media #{$small-screen} {
      width: 100%;
      padding: 0.3em 0;
    }
  }
  @media #{$medium-screen} {
    padding: 6em 0;
    .side-line {
      display: none;
    }
    .work-wrap {
      width: 100%;
      float: left;
    }
  }
}

.side-line {
  width: 1.2%;
  height: 10em;
  float: left;
  background-color: $col-light;
}

.work-wrap {
  float: right;
  width: 96%;
  .feature & {
    width: 100%;
    float: none;
  }
}
